@model IEnumerable<BuahSayur.ViewModel.SupplierViewModel>

<table class="table" id="data-list">
    <thead>
        <tr>
            <th>Action</th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullAddress)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <button type="button" class="btn btn-success btn-select-supplier" data-id="@item.Id" data-code="@item.Code" data-dismiss="modal">Select</button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullAddress)
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(".btn-select-supplier").click(function () {
        SelectSupplier($(this).attr("data-code"));
    });
</script>
