@{
    ViewBag.Title = "Supplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well ">
    <h2>@ViewBag.Title</h2>
</div>

<div class="alert alert-success" id="success-create" hidden>
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong>
    New Supplier have added to your list.
</div>

<div class="alert alert-info" id="success-save" hidden>
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong>
    Your List Successfully Updated.
</div>

<div class="alert alert-danger" id="success-delete" hidden>
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong>
    Data Successfully Deleted.
</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" id="btn-add" class="btn btn-success" title="Create New">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
            </button>
        </div>
        <div class="panel-body">
            <div id="table-list">
                <div class="progress progress-striped active" style="margin-bottom:0">
                    <div class="progress-bar" style="width:45%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function SuccessCreated() {
            $("#success-create").fadeTo(2000, 500).slideUp(500, function () {
                $("#success-create").slideUp(500);
            });
        }

        function SuccessSaved() {
            $("#success-save").fadeTo(2000, 500).slideUp(500, function () {
                $("#success-save").slideUp(500);
            });
        }

        function SuccessDeleted() {
            $("#success-delete").fadeTo(2000, 500).slideUp(500, function () {
                $("#success-delete").slideUp(500);
            });
        }

        $(document).ready(function () {
            ShowList();
        });

        function ShowList() {
            $.ajax({
                url: '@Url.Action("List", "Supplier")',
                type: 'get',
                success: function (result) {
                    $("#table-list").html(result);
                }
            });
        }

        $("#btn-add").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "Supplier")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $("#modal-form").modal("show");
                }
            });
        });

        function ShowEdit(obj) {
            $.ajax({
                url: '@Url.Action("Edit", "Supplier")',
                type: 'get',
                data: { id: $(obj).attr("data-id") },
                success: function (result) {
                    $(".modal-body").html(result);
                    $("#modal-form").modal("show");

                }
            });
        }

        function ShowDelete(obj) {
            $.ajax({
                url: '@Url.Action("Delete", "Supplier")',
                type: 'get',
                data: { id: $(obj).attr("data-id") },
                success: function (result) {
                    $(".modal-body").html(result);
                    $("#modal-form").modal("show");
                }
            });
        }
    </script>
}
