@model IEnumerable<BuahSayur.ViewModel.ItemViewModel>

<table class="table table-striped table-hover" id="data-list">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price_Purchasing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price_Selling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActivated)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    Rp. @Html.DisplayFor(modelItem => item.Price_Purchasing)
                </td>
                <td>
                    Rp. @Html.DisplayFor(modelItem => item.Price_Selling)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActivated)
                </td>
                <td>
                    <button type="button" value="Edit" class="btn btn-warning btn-edit" data-id="@item.Id" onclick="ShowEdit(this)" title="Edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                    <button type="button" value="Delete" class="btn btn-danger btn-delete" data-id="@item.Id" onclick="ShowDelete(this)" title="Delete"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span></button>
                </td>
            </tr>
        }
    </tbody>
</table>


<script type="text/javascript">
    $("#data-list").DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false
    });
</script>
