<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BuahSayur</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .background-kamil {
            background-image: url('../../Content/images/food_web-900x448.jpg');
            background-size: cover;
            /*display: block;*/
            filter: blur(10px) opacity(80%);
            -webkit-filter: blur(10px) opacity(80%);
            height: 800px;
            left: 0;
            position: fixed;
            right: 0;
            z-index: -1;
        }
    </style>         
</head>
<body>
    <div class="background-kamil"></div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <span><img src="~/Content/images/logo-white.png" alt="Logo BuahSayur" height="30" /></span> BuahSayur
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Masters <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Province", "Index", "Province")</li>
                            <li>@Html.ActionLink("City", "Index", "City")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Customer", "Index", "Customer")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Item", "Index", "Item")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Supplier", "Index", "Supplier")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Transactions <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Purchasing Order", "Index", "Purchasing")</li>
                            <li class="divider"></li>
                            <li><a href="#">Delivery Order</a></li>
                            <li><a href="#">Shipment</a></li>
                            <li><a href="#">Return</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="well-sm btn-default disabled">
            <h5 style="color:ghostwhite;">&copy; @DateTime.Now.Year - <b>BuahSayur</b>. A Mini Project by Hasan and kamil</h5>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
    
</body>
</html>
