@model IEnumerable<BuahSayur.ViewModel.DeliveryOrderDetailViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Replacement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shortage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody id="return-detail-list">
        @foreach (var item in Model)
        {
            <tr>                
                <td>
                    @*<input type="hidden" name="Return_Id" value="@item.Id" class="form-control" disabled />*@
                    <input type="text" name="Item_Code" value="@item.Item_Code" class="form-control" disabled />
                    @*@Html.DisplayFor(modelItem => item.Item_Code)*@
                </td>
                <td>
                    <input type="text" name="Item_Name" value="@item.Item_Name" class="form-control" disabled />
                    @*@Html.DisplayFor(modelItem => item.Item_Name)*@
                </td>
                <td>
                    <input type="text" name="Quantity" value="@item.Quantity.ToString("0")" class="form-control" disabled />
                    @*@Html.DisplayFor(modelItem => item.Quantity)*@
                </td>
                <td class="warning">
                    <input type="text" name="ReturnAmount" onkeyup="ReturnAmountUpdate(this);" value="@item.ReturnAmount" class="form-control" />
                    @*@Html.DisplayFor(modelItem => item.ReturnAmount)*@
                </td>
                <td>
                    <input type="text" name="Replacement" value="@item.Replacement" class="form-control" />
                    @*@Html.DisplayFor(modelItem => item.Replacement)*@
                </td>
                <td>
                    <input type="text" name="Shortage" value="@item.Shortage" class="form-control" />
                    @*@Html.DisplayFor(modelItem => item.Shortage)*@
                </td>
                <td>
                    @*<input type="text" name="Replacement" value="@item.Replacement" class="form-control" />*@
                    @*@Html.DisplayFor(modelItem => item.Status)*@
                    <form>
                        <div class="radio">
                            <label>
                                <input name="Status" value="U" checked="" type="radio"> Unfulfilled
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input name="Status" value="F" type="radio"> Fulfilled
                            </label>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
